#home-container.container
  .jumbotron.text-center.bg-dark
    %h1.display-4 Split Bill
    %p.lead A very simple app to split the amount equally within friend circle for every parties.
    %hr.my-5/
    %p Signup and invite your friends to stay on equal terms.
    = link_to t('general.sign_up'), users_signup_path ,class:"btn btn-success btn-lg"
