.container.mt-3
  - flash.each do |name, msg|
    %div{class: "alert alert-#{"#{name}"} alert-dismissible fade show", role: 'alert'}
      %a.close{ 'data-dismiss' => 'alert', href: '#' } ×
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)